{{ define "main" }}
<div class="w-full mx-auto px-4" style="max-width: 600px;">
  <div class="flex flex-col gap-4">
    {{ range where .Site.RegularPages "Section" "entries" }}
    <div class="flex flex-col w-full">
      <a href="{{ .RelPermalink }}">
        {{ with .Params.thumbnail }}
        <img src="{{ if hasPrefix . " /" }}{{ $.Site.BaseURL }}{{ strings.TrimPrefix "/" . }}{{ else }}{{ . | absURL
          }}{{ end }}" alt="{{ $.Title }}" class="w-full aspect-square object-cover block">
        {{ end }}
      </a>
      <div class="mt-2 w-full">
        <a href="{{ .RelPermalink }}">
          <p class="font-medium">{{ .Title }}</p>
        </a>
        {{ with .Params.description }}
        <p class="text-sm text-gray-600">{{ . }}</p>
        {{ end }}
      </div>
    </div>
    {{ end }}
  </div>
  {{ end }}